<!DOCTYPE html>
<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2024. -->

<html>
  <head>
    <meta charset="utf-8">
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.author }}</title>
    {% endif %}
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="https://numand.gitlab.io{{ page.url }}" rel="canonical">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A blog about GNU/Linux by Numan Demirdöğen">
    <style>
      {% include page.css %}
      {% include syntax.css %}
      {% if page.math == 'yes' %}
        {% include math.css %}
        {% include katex.css %}
      {% endif %}
    </style>
  </head>
