* {
  margin: 0;
  padding: 0;
  font-language-override: "ENG";
}

html { font-size: 16px; }

body {
  background-color: #fdf6e3;
  color: #073642;
  border-top: 0.5em solid #657b83;
  padding-top: 0.2em;
  line-height: 1.4em;
  font-family: serif;
  font-kerning: normal;
  font-feature-settings: "cpsp";
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums;
  font-variant-alternates: styleset(ss06);
}

header {
  font-family: sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
  text-align: center;
}

footer {
  background-color: #073642;
  color: #93a1a1;
}

footer span {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

h1 {
  font-family: sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 2.8rem;
  margin-bottom: 0.7rem;
  padding-top: 2.8rem;
}

h1 > br { display: none; }

h2 { 
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0.2rem;
  padding-top: 1.2rem;
}

header > h2 {
  font-family: serif;
  font-weight: normal;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.4rem;
  margin-bottom: 1.0rem;
  padding-top: 0.4rem;
  font-variant-ligatures: historical-ligatures;
}

.index h2 {
  font-family: sans-serif;
  color: #657b83;
  font-size: 2.8em;
  letter-spacing: 1rem;
  margin-bottom: 0.6rem;
  padding-top: 0.8rem;
}

#footer h2 { color: #93a1a1; }

#teaser h2 {
  margin-bottom: 0.2rem;
  padding-top: 0.5rem;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  padding-top: 0.4em;
}

.index h3 { margin-bottom: -0.4em; }

a {
  color: #859900;
  text-decoration: none;
}

h3 > a { color: inherit; }

a.smcp { color: #cb4b16; }

.author { color: #cb4b16; }

a:hover { text-decoration: none; }

.index a { text-decoration: none; }

#footer a { text-decoration: none; }

#teaser a {
  font-family: serif;
  color: #cb4b16;
  line-height: 0;
  text-decoration: none;
}

#teaser a:after {
  color: #cb4b16;
  content: '\a0»';
}

#notices > a { color: #cb4b16; }

.index p > a {
  font-family: serif;
  line-height: 0;
}

.index p > a:after { content: '\a0»'; }

p, nav {
  margin-bottom: 1em;
  padding-top: 0.4em;
}

#teaser p:first-child { margin-bottom: 0.3em; }

header > p {
  color: #cb4b16;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.9em;
}

table {
  font-family: sans-serif;
  border-spacing: 0;
  margin-bottom: 1em;
  text-align: left;
  border: 1px solid #eee8d5;
  font-variant-numeric: tabular-nums;
}

th {
  padding-top: 0.4em;
}

th, td {
  vertical-align: top;
  padding: 0.4em;
  border-bottom: 1px solid #eee8d5;
}

tr:nth-child(even) {background-color: #eee8d5}

ul, ol { 
  margin-left: 2em;
  margin-bottom: 1em;
}

ul+figure { margin-left: 2em; }

ol { 
  list-style-type: decimal; 
  margin-top: 1em;
}

li { margin-bottom: 0.5em; }
li p { margin-bottom: 0.25em; }
li > p:first-of-type { margin-bottom: 0.5em; }
li > p:last-of-type { margin-bottom: 1em; }

code {
  color: #268bd2;
  font-family: monospace;
  font-size: 0.8em;
  font-variant-numeric: slashed-zero;
}

code, em, strong { line-height: 1em; }

pre {
  background-color: #eee8d5;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
  overflow-x: auto;
  padding: 1rem;
  line-height: 1.4rem;
}

code td.gutter.gl { padding-left: 0; }

.lineno {
  border: none;
  padding: 0rem;
  user-select: none;
}

pre table {
  border: none; 
  margin: 0rem; 
  padding: 0rem; 
}

td pre:first-child {
  border: none;
  margin: 0rem;
  padding: 0rem;
  font-family: monospace;
  font-size:1.0em;
}

abbr {
  margin-right: -0.03em;
}

abbr, .smcp {
  font-feature-settings: "c2sc", "smcp";
}

blockquote {
  font-family: serif;
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  font-variant-ligatures: historical-ligatures;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: -0.2em;
  margin-bottom: -0.6em;
}

#boxshadow {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: inherit;
}

#boxshadow img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

#content, #teaser, #footer {
  padding: 1.4em;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}

#content { padding-top: 0; }

#teaser-section {
  background-color: #eee8d5;
  color: #002b36;
}

#notices {
  clear: both;
  text-align: center;
  padding-top: 1.8em;
}

.run-in {
  font-feature-settings: "c2sc", "smcp";
}

.run-out {
  font-feature-settings: "c2sc", "smcp";
  font-language-override: "TRK";
}

*::selection {
  background: #6c71c4;
  color:#fdf6e3;
  text-shadow: none;
}

hr { margin-top: -0.7em; margin-bottom: 1em; }

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color: #b58900;
}

dt::after { content: ":"; }

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

nav { text-align: center; }

nav a
{
  margin-left: 1em;
  margin-right: 1em;
}

details {
  padding: 0.5em 0.5em 0;
  line-height: 1rem;
  font-size: 1em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
  border-bottom: 1px solid #657b83;
}

details[open] summary {
  border-bottom: 1px solid #657b83;
  margin-bottom: 0.5em;
}

@media(min-width: 400px) {

  #content, #teaser, #footer {
    padding-left: 2em;
    padding-right: 2em;
  }

  nav { text-align: center; }

  nav a {
    margin-left: 1em;
    margin-right: 1em;
    color: #cb4b16;
  }
}

@media(min-width: 470px) {

  html { font-size: 17px; }

  header {
    margin-left: 2.8em;
    margin-right: 2.8em; 
  }

  nav { text-align: center; }

  nav a {
    margin-left: 1em;
    margin-right: 1em;
    color: #cb4b16;
  }
}

@media(max-width: 490px) {

  #breakdot {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }

  nav { text-align: center; }

  nav a {
    margin-left: 1em;
    margin-right: 1em;
    color: #cb4b16;
  }
}

@media(min-width: 544px) {

  #content, #teaser, #footer {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  nav { text-align: center; }

  nav a {
    margin-left:1em;
    margin-right: 1em;
    color: #cb4b16;
  }

  li { margin-left: 0; }
}

@media(min-width: 625px) {
  html { font-size: 18px; }
  h1 > br { display: block; }
}

@media(min-width: 802px) {

  html { font-size: 19px; }

  header {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
}

@media(min-width: 1003px) {
  html { font-size: 20px; }
}

@media(min-width: 1225px) {

  html { font-size: 21px; }

  body { line-height: 1.4em; }

  .index h2 {
    text-align: right;
    letter-spacing: 0.5rem;
    width: 8rem;
    height: 0;
    margin-left: -9.5rem;
    margin-bottom: -0.8rem;
  }

  #footer { max-width: 42em; }

  footer h2 { margin-left: 3rem; }

  footer nav {
    float: left;
    text-align: right;
    width: 6em;
    margin-left: -5em;
  }

  #about {
    float: right;
    width: 36em;
    margin-right: 3em;
  }
}

@media(min-width: 1496px) { html { font-size: 22px; } }
@media(min-width: 1736px) { html { font-size: 23px; } }
@media(min-width: 2025px) { html { font-size: 24px; } }
