<section id="teaser-section">
  <div id="teaser">
    {% if page.next.url %}
      {% if page.next.language == 'english' %}
        <p class="smcp">NEXT</p>
      {% else %}
        <p class="smcp">SONRAKİ</p>
      {% endif %}
      <h2>{{ page.next.title }}{% if page.next.subtitle %}: {{ page.next.subtitle }}{% endif %}</h2>
      {{ page.next.summary | strip_html }}
        {% if page.next.language == 'english' %}
          <a href="{{ page.next.url }}" class="smcp">READ POST</a>
        {% else %}
          <a href="{{ page.next.url }}" class="smcp">YAZIYI OKU</a>
        {% endif %}
    {% else %}
      {% if page.previous.language == 'english' %}
        <p class="smcp">PREVIOUS</p>
      {% else %}
        <p class="smcp">ÖNCEKİ</p>
      {% endif %}
      <h2>{{ page.previous.title }}{% if page.previous.subtitle %}: {{ page.previous.subtitle }}{% endif %}</h2>
      {{ page.previous.summary | strip_html }}
        {% if page.previous.language == 'english' %}
          <a href="{{ page.previous.url }}" class="smcp">READ POST</a>
        {% else %} 
          <a href="{{ page.previous.url }}" class="smcp">YAZIYI OKU</a>
        {% endif %}
    {% endif %}
  </div>
</section>
