{% include head.html %}
<body>
  <div id="content">
    <header><h1>Kısaca</h1></header>
    {{ content }}
    <nav class="smcp">
      <a href="/index.html">YAZILAR</a>
      <a href="https://gitlab.com/numand">GITLAB</a>
    </nav>
  </div>
</body>
</html>
