{% include head.html %}
<body>
<article id="content" itemscope>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.part %}
      <p class="smcp">{{ page.part }}</p>
    {% endif %}
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}
    <p>
      <a href="/" class="author">Demirdöğen, Numan</a><br>
      {% if page.language == 'english' %}
        {{ page.date | date: "%-d %B, %Y" }}
      {% else %}
        {{ page.date | date: "%-d" }}
        {% assign m = page.date | date: "%B" %}
        {% case m %}
          {% when 'January' %}Ocak,
          {% when 'February' %}Şubat,
          {% when 'March' %}Mart,
          {% when 'April' %}Nisan,
          {% when 'May' %}Mayıs,
          {% when 'June' %}Haziran,
          {% when 'July' %}Temmuz,
          {% when 'August' %}Ağustos,
          {% when 'September' %}Eylül,
          {% when 'October' %}Ekim,
          {% when 'November' %}Kasım,
          {% when 'December' %}Aralık,
        {% endcase %}
        {{ page.date | date: "%Y" }}
      {% endif %}
    </p>
  </header>
  {{ content }}
</article>
{% include teaser.html %}
{% include footer.html %}
</body>
</html>
